[Unit]
Description=Ocserv Server
After=network.target

[Service]
TimeoutStartSec=0
ExecStart=/usr/sbin/ocserv -c /etc/ocserv/ocserv.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
